
@{
    Layout = null;
}


<!DOCTYPE html>
<html>

<head>

    <title>Menu</title>
    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <!-- Icons -->
    <link rel="stylesheet" href="/Diseno2/assets/vendor/nucleo/css/nucleo.css" type="text/css">
    <link rel="stylesheet" href="/Diseno2/assets/vendor/fortawesome/fontawesome-free/css/all.min.css" type="text/css">
    <!-- Page plugins -->
    <!-- Argon CSS -->
    <link rel="stylesheet" href="/Diseno2/assets/css/argon.css?v=1.2.0" type="text/css">
</head>

<body>
    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Divider -->
        <hr class="my-3">
    </div>
    <!-- Main content -->
    <div class="main-content" id="panel">
        <!-- Topnav -->
        <nav class="navbar navbar-top navbar-expand navbar-dark bg-primary border-bottom">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- Search form -->
                    <form class="navbar-search navbar-search-light form-inline mr-sm-3" id="navbar-search-main">
                        <div class="form-group mb-0">
                            <div class="input-group input-group-alternative input-group-merge">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-search"></i></span>
                                </div>
                                <input class="form-control" placeholder="Search" type="text">
                            </div>
                        </div>
                    </form>
                    <!-- Navbar links -->
                    <ul class="navbar-nav align-items-center  ml-md-auto ">
                        <li class="nav-item d-xl-none">
                            <!-- Sidenav toggler -->
                            <div class="pr-3 sidenav-toggler sidenav-toggler-dark" data-action="sidenav-pin" data-target="#sidenav-main">
                                <div class="sidenav-toggler-inner">
                                    <i class="sidenav-toggler-line"></i>
                                    <i class="sidenav-toggler-line"></i>
                                    <i class="sidenav-toggler-line"></i>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item d-sm-none">
                            <a class="nav-link" href="#" data-action="search-show" data-target="#navbar-search-main">
                                <i class="ni ni-zoom-split-in"></i>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="ni ni-bell-55"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-xl  dropdown-menu-right  py-0 overflow-hidden">
                                <!-- Dropdown header -->
                                <div class="px-3 py-3">
                                    <h6 class="text-sm text-muted m-0">You have <strong class="text-primary">13</strong> notifications.</h6>
                                </div>
                                <!-- List group -->
                                <div class="list-group list-group-flush">
                                    <a href="#!" class="list-group-item list-group-item-action"></a>
                                    <div class="row align-items-center">
                                        <div class="col-auto">

                                        </div>
                                    </div>
                                </div>
                                <!-- View all -->
                                <a href="#!" class="dropdown-item text-center text-primary font-weight-bold py-3">View all</a>
                            </div>
                        </li>

                    </ul>

                </div>
            </div>
        </nav>
        <!-- Header -->
        <!-- Header -->
        <!-- Page content -->
        <div class="container-fluid mt--6">
            <div class="row justify-content-center">
                <div class=" col ">
                    <div class="card">
                        <div class="card-header bg-transparent">
                            <h3 class="mb-0">Menú</h3>
                        </div>
                        <div class="card-body">
                            <div class="row icon-examples">
                                <div class="col-lg-3 col-md-6">
                                    <button type="button" onclick="location.href='/Menu/Irtipousuario? '" class="btn btn-icon-clipboard">
                                        <div>
                                            <i class="ni ni-collection"></i>
                                            <span>Tipo de usuario y permisos</span>
                                        </div>
                                    </button>
                                </div>
                                @*<div class="col-lg-3 col-md-6">
                                        <button type="button" class="btn-icon-clipboard" data-clipboard-text="key-25">
                                            <div>
                                                <i class="ni ni-key-25"></i>
                                                <span>Permisos</span>
                                            </div>
                                        </button>
                                    </div>*@
                                <div class="col-lg-3 col-md-6">
                                    <button type="button" onclick="location.href='/Menu/Irtpuesto? '" class="btn btn-icon-clipboard">
                                        <div>
                                            <i class="ni ni-collection"></i>
                                            <span>Puesto e institución</span>
                                        </div>
                                    </button>
                                </div>
                                @*<div class="col-lg-3 col-md-6">
                                        <button type="button" class="btn-icon-clipboard" data-clipboard-text="building">
                                            <div>
                                                <i class="ni ni-building"></i>
                                                <span>Institución</span>
                                            </div>
                                        </button>
                                    </div>*@
                                <div class="col-lg-3 col-md-6">
                                    <button type="button" onclick="location.href='/Menu/Ircontrolpermiso? '" class="btn btn-icon-clipboard">
                                        <div>
                                            <i class="ni ni-check-bold"></i>
                                            <span>Control Permisos</span>
                                        </div>
                                    </button>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <button type="button" onclick="location.href='/Menu/Irempleado? '" class="btn btn-icon-clipboard">
                                        <div>
                                            <i class="ni ni-circle-08"></i>
                                            <span>Registro Empleado</span>
                                        </div>
                                    </button>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <button type="button" onclick="location.href='/Menu/Irusuario? '" class="btn btn-icon-clipboard">
                                        <div>
                                            <i class="ni ni-single-02"></i>
                                            <span>Usuarios</span>
                                        </div>
                                    </button>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <button type="button" onclick="location.href='/Menu/Irdepartamento? '" class="btn btn-icon-clipboard">
                                        <div>
                                            <i class="ni ni-map-big"></i>
                                            <span>Departamento y municipio</span>
                                        </div>
                                    </button>
                                </div>
                                @*<div class="col-lg-3 col-md-6">
                                        <button type="button" class="btn-icon-clipboard" data-clipboard-text="pin-3">
                                            <div>
                                                <i class="ni ni-pin-3"></i>
                                                <span>Municipio</span>
                                            </div>
                                        </button>
                                    </div>*@
                                <div class="col-lg-3 col-md-6">
                                    <button type="button" onclick="location.href='/Menu/Irpaciente? '" class="btn btn-icon-clipboard">
                                        <div>
                                            <i class="ni ni-badge"></i>
                                            <span>Registro Paciente</span>
                                        </div>
                                    </button>
                                </div>
                                @*<div class="col-lg-3 col-md-6">
                                        <button type="button" class="btn-icon-clipboard" data-clipboard-text="sound-wave">
                                            <div>
                                                <i class="ni ni-sound-wave"></i>
                                                <span>Pruebas</span>
                                            </div>
                                        </button>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <button type="button" class="btn-icon-clipboard" data-clipboard-text="mobile-button">
                                            <div>
                                                <i class="ni ni-mobile-button"></i>
                                                <span>Contactos Paciente</span>
                                            </div>
                                        </button>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <button type="button" class="btn-icon-clipboard" data-clipboard-text="ruler-pencil">
                                            <div>
                                                <i class="ni ni-ruler-pencil"></i>
                                                <span>Estado Paciente</span>
                                            </div>
                                        </button>
                                    </div>*@
                                <div class="col-lg-3 col-md-6">
                                    <button type="button" onclick="location.href='/Menu/Irestadotratamiento? '" class="btn btn-icon-clipboard">
                                        <div>
                                            <i class="ni ni-ruler-pencil"></i>
                                            <span>Estado Trartamiento</span>
                                        </div>
                                    </button>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <button type="button" onclick="location.href='/Menu/Irtratamiento? '" class="btn btn-icon-clipboard">
                                        <div>
                                            <i class="ni ni-single-copy-04"></i>
                                            <span>Tratamiento</span>
                                        </div>
                                    </button>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <button type="button" onclick="location.href='/Menu/Irmedicamento? '" class="btn btn-icon-clipboard">
                                        <div>
                                            <i class="ni ni-single-copy-04"></i>
                                            <span>Medicamento</span>
                                        </div>
                                    </button>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <button type="button" onclick="location.href='/Menu/Ircita? '" class="btn btn-icon-clipboard">
                                        <div>
                                            <i class="ni ni-collection"></i>
                                            <span>Cita</span>
                                        </div>
                                    </button>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <button type="button" onclick="location.href='/Menu/Irestadocita? '" class="btn btn-icon-clipboard">
                                        <div>
                                            <i class="ni ni-ruler-pencil"></i>
                                            <span>Estado Cita</span>
                                        </div>
                                    </button>
                                </div>
                                @*<div class="col-lg-3 col-md-6">
                                    <button type="button" onclick="location.href='/Menu/Irdefuncion? '" class="btn btn-icon-clipboard">
                                        <div>
                                            <i class="ni ni-folder-17"></i>
                                            <span>Defunción</span>
                                        </div>
                                    </button>
                                </div>*@
                                @*<div class="col-lg-3 col-md-6">
                                        <button type="button" class="btn-icon-clipboard" data-clipboard-text="ambulance" title="Copy to clipboard">
                                            <div>
                                                <i class="ni ni-ambulance"></i>
                                                <span>ambulance</span>
                                            </div>
                                        </button>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <button type="button" class="btn-icon-clipboard" data-clipboard-text="archive-2" title="Copy to clipboard">
                                            <div>
                                                <i class="ni ni-archive-2"></i>
                                                <span>archive-2</span>
                                            </div>
                                        </button>
                                    </div>*@

                                @*<div class="col-lg-3 col-md-6">
                                        <button type="button" class="btn-icon-clipboard" data-clipboard-text="calendar-grid-58" title="Copy to clipboard">
                                            <div>
                                                <i class="ni ni-calendar-grid-58"></i>
                                                <span>calendar-grid-58</span>
                                            </div>
                                        </button>
                                    </div>*@
                                @*<div class="col-lg-3 col-md-6">
                                        <button type="button" class="btn-icon-clipboard" data-clipboard-text="chart-bar-32" title="Copy to clipboard">
                                            <div>
                                                <i class="ni ni-chart-bar-32"></i>
                                                <span>chart-bar-32</span>
                                            </div>
                                        </button>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <button type="button" class="btn-icon-clipboard" data-clipboard-text="chart-pie-35" title="Copy to clipboard">
                                            <div>
                                                <i class="ni ni-chart-pie-35"></i>
                                                <span>chart-pie-35</span>
                                            </div>
                                        </button>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Argon Scripts -->
    <!-- Core -->
    <script src="/Diseno2/assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/Diseno2/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/Diseno2/assets/vendor/js-cookie/js.cookie.js"></script>
    <script src="/Diseno2/assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
    <script src="/Diseno2/assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
    <!-- Optional JS -->
    <script src="/Diseno2/assets/vendor/clipboard/dist/clipboard.min.js"></script>
    <!-- Argon JS -->
    <script src="/Diseno2/assets/js/argon.js?v=1.2.0"></script>
</body>

</html>
